body {
    background: url("../5.客服中心/客服專區body.jpg") center top no-repeat fixed;
    background-size: cover;
}


< !-- // 文字跑馬燈 -->

.marqee {
    height: 2em;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background: black;
}

.marqee>ul {
    padding-left: 0;
    display: flex;
    list-style-type: none;
    animation: marqee 15s linear infinite;
    position: absolute;
}

.marqee>ul>li {
    white-space: nowrap;
    margin-right: 2em;
    font-weight: bold;
    color: yellow;
}

@keyframes marqee {
    0% {
        left: 100%;
        transform: translateX(0%);
    }

    100% {
        left: 0;
        transform: translateX(-100%);
    }
}


< !-- NAVBAR -->ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.drop-down-menu {
    font-family: 'Open Sans', Arial, serif;
    font-size: 13px;
}

ul.drop-down-menu li {
    position: relative;
    white-space: nowrap;
}

.navbar {
    background-color: rgb(131, 71, 11);
    text-align: center;
    /* padding: 10px; */
    position: inline-block;
}

.navbar li {
    display: inline-block;
    padding: 15px;
}

.nav:hover {
    font-size: larger;
    background-color: lightgrey;
}

.navbar li a {
    color: rgb(234, 169, 105);
    text-align: center;
    text-decoration: none;
}

.navbar li a:hover {
    color: rgb(255, 243, 6);
    text-decoration: underline;

}

.drop-down-menu ul {
    display: none;
}

.search {
    position: relative;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid lightgrey;
}


< !-- 地圖和客服中心區塊 -->

.mapclient {
    background-color: rgba(53, 47, 44, 0.557);
}



< !-- 客服中心 -->

.cusback {
    /* position: absolute; */
    /* position: relative; */
    /* left: 700px; */
    /* right: 50px; */
    border-style: hidden;
    /* top: 200px; */
    /* background-color: aquamarine; */
}



< !-- footer -->

.footer {
    /* position: fixed; */
    /* margin-top: -50px; */
    left: 0;
    bottom: 0;
    width: 200%;
    color: white;
    text-align: center;
}



h1 {
    padding: 80px;
    font-size: 70px;

}



< !-- Button加減wrapper1 -->

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.wrapper1 {
    min-height: 10px;
    min-width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.wrapper1 span {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.wrapper1 span.num {
    font-size: 20px;
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    pointer-events: none;
}


< !-- Button加減wrapper2 -->
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* body {
          height: 100vh;
          width: 100%;
          display: flex;
          align-items: center;
          background: #343F4F;
      } */

.wrapper2 {
    min-height: 10px;
    min-width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.wrapper2 span {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.wrapper2 span.num {
    font-size: 20px;
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    pointer-events: none;
}


< !-- Button加減wrapper3 -->
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.wrapper3 {
    min-height: 10px;
    min-width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.wrapper3 span {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.wrapper3 span.num {
    font-size: 20px;
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    pointer-events: none;
}


< !-- Button加減wrapper4 -->
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.wrapper4 {
    min-height: 10px;
    min-width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.wrapper4 span {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.wrapper4 span.num {
    font-size: 20px;
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    pointer-events: none;
}